<h2>Create a new Recipe </h2>
<%= form_with model: @recipe do |f| %>
  <div class="mb-3">
    <%= f.label :name, class:"label-control" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :preparation_time, class:"label-control" %>
    <%= f.text_field  :preparation_time, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :Coocking_time, class:"label-control" %>
    <%= f.text_field :description, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class:"label-control" %>
    <%= f.text_field :description, class:"form-control" %>
  </div>
  <%=f.submit "create", class:"btn btn-light"%>
<% end %> 
<%= link_to "back", recipes_path %>