<h2><%= @recipe.name%> </h2>

<div>Preparation time: <%=@recipe.preparation_time%></div>
<div>Coocking time:<%= @recipe.cooking_time%></div>
<%= link_to "Steps Goes here",recipe_path(@recipe)  %>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
  <% if can? :manag, Recipe %>
  <div>
    <%=link_to "Add ingredients" ,foods_path %>
     <%end%>
  <div>
</div>

