<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @recipe.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted">By time: <%=@recipe.user.name%></h6>
    <p class="card-text">Preparation time: <%=@recipe.preparation_time%>.</p>
    <p class="card-text">Coocking time:<%= @recipe.cooking_time%>.</p>
    <%= link_to "Steps Goes here",recipe_path(@recipe), class:"card-link"%>
    <%if can? :manag, @recipe%>
       <%= link_to "Add ingredients",foods_path, class:"card-link"%> 
    <%end%>
    <div class="col-md-4">
    <% if can? :update, @recipe %>
      <%= form_with model:@recipe, url:recipe_path(@recipe), html:{method: :put} do |f| %>
        <button type="submit" class="btn" id="recipe_public">
          <div class="form-check form-switch">
            <%= f.label :public, class:"form-check-label" %>
            <%= f.check_box :public, class:"form-check-input" %>
          </div>
        </button>
      <% end %>
    <% end %>
  </div>

  