<div>
  <div>
    <p>Shopping List</p>
    <div>
      <div><span>Amount of food items to buy: </span><span>&nbsp;<%= @foods.length %></span></div>
        <div><span>Total value of food needed:</span><span>&nbsp;$<%= @total %></span></div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
           <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
             <td><%= food.quantity %></td>
            <td>$<%= food.price * food.quantity %></td>
           </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>