<% if user_signed_in? %>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <% if food.user == current_user %>
        <tr>
          <td>
<%= link_to food.name, food %>


          </td>
          
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= food.quantity %></td>
          
          
          
          
          
          <td><%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Food', user_foods_path, class:"btn btn-secondary" %>
<% else %>

<h1>Hello World!</h1>

<% end %>